
/*____________________ACCUEIL ET BASE DU SITE____________________*/
@font-face {
    font-family: CaviarDreams;
    src: url(../fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: MalgunGothic;
    src: url(../fonts/malgunsl.ttf);
}

body {
    height: auto;
    width: auto;
    margin: auto;
    padding: auto;
    border: 0;
    font-family: "CaviarDreams";
}

main {
    display: flex;
    flex-direction: column;
}

.section1 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../medias/wallpaper.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover, 100% auto;
}

.section1 div {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: auto;
}

.header1 {
    background-color: rgba(104, 92, 66, 0.6);
    text-align: center;
    font-size: 70px;
    margin: 0;
    font-weight: bold;
    opacity: 0.6;
    letter-spacing: 10px;
    color: black;
    margin-bottom: 1%;
}

.header2 {
    background-color: rgba(104, 92, 66, 0.8);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin: 0;
    opacity: 0.8;
    letter-spacing: 5px;
    color: black;
    transition: 0.4s;
}

a.header2:hover {
    opacity: 0.6;
    transition: 0.4s
}

.section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: content-box;
    width: 100%;
    justify-content: space-around;
}

.section2 h1 {
    font-size: 50px;
}

.section2 a {
    width: 100%;
    height: auto;
    text-decoration: none;
    color: black;
    transition: 0.8s;
}

.section2 div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.section2 div:nth-child(even) {
    background-color: rgb(210, 210, 210);
}

.section2 div:nth-child(odd) {
    background-color: white;
}

.section2 a:hover {
    transition: 0.8s;
    opacity: 0.8;
}

.section2 p {
    font-family: "MalgunGothic";
}

.section2 a img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    background-color: rgba(66, 66, 66, 1);
    color: whitesmoke;
    font-size: 14px;
    margin: 0;
}

footer p {
    margin: 0;
}


/*____________________PROJET SEMESTRE 1____________________*/
.projet1_paragraphe {
    display: flex;
    width: 85%;
    margin: auto;
    padding: 2%;
}

.projet1_paragraphe img {
    margin: auto;
    height: 40%;
    width: 40%;
    padding-right: 1%;
    padding-left: 1%;
}
.projet1_paragraphe p {
    margin: auto;
    padding-right: 1%;
    padding-left: 1%;
}

#logo_projet1 {
    height: 15%;
    width: 15%;
    padding-right: 5%;
}

/*____________________NUAGE DE MOTS____________________*/
#img_projet2 {
    width: 50%;
    height: 50%;
    border: lightgray solid 1px;
    box-shadow: 3px 3px 3px grey;
    margin-top: 2%;
    margin-bottom: 2%;
}

#p_projet2 {
    width: 75%;
    text-align: center;
}

/*____________________CARTE MENTALE____________________*/
#img_projet3 {
    width: 85%;
    height: 85%;
    border: lightgray solid 1px;
    box-shadow: 3px 3px 3px grey;
    margin-top: 2%;
    margin-bottom: 2%;
}

#p_projet3 {
    width: 75%;
    text-align: center;
}

/*____________________COMPETENCES____________________*/
.langage {
    display: flex;
    width: 85%;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#python, #css, #php, #sql, #html, #java, #plsql, #c, #bootstrap, #wordpress, #javascript {
    width: auto;
    height: 125px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.langage p {
    padding-left: 3%;
}

#section2_competences {
    align-items: center;
    align-content: center;
    justify-content: center;
}