/*_____________________________________________*/
/*____________________FONTS____________________*/
/*_____________________________________________*/

@font-face {
    font-family: CaviarDreams;
    src: url(../../src/assets/fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: MalgunGothic;
    src: url(../../src/assets/fonts/malgunsl.ttf);
}

@font-face {
    font-family: LemonMilk;
    src: url(../../src/assets/fonts/LemonMilklight.otf);
}

@font-face {
    font-family: Iceland;
    src: url(../../src/assets/fonts/Iceland-Regular.ttf);
}
